@charset "utf-8";
/* CSS Document */


.recommendations-title {
    line-height: 31px;
    margin: 10px 0;
    overflow: hidden;
}
.recommendations-title p {
    color: rgb(142, 142, 142);
    font-size: 16.8px;
    line-height: 25.2px;
}
.recommendations .recommendation .item h4, .recommendations-title h1 {
    font-size: 21.99px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 29.99px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.mobile-app-banner .wrapper form {
    display: none;
}
.recommendations-title {
    margin: 5px 0;
}
.recommendations-title p {
    margin-bottom: 2px;
    margin-top: 2px;
}
}
.recommendations-title h1 {
    color: rgb(67, 67, 67);
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 14px;
    position: relative;
}
.recommendations .recommendation::after, .recommendations .recommendation::before, .recommendations::after, .recommendations::before {
    content: "";
    display: table;
}
.primo-avenir .recommendations-title h1 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.recommendations {
    animation: 0.5s ease 0.35s normal both 1 running slide-up-appear-animation;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: -2%;
    width: 100%;
}
.recommendations:nth-child(n) {
    margin-right: 0;
    padding-right: 60px;
}
.recommendations .recommendation {
    float: left;
    margin: 0 2% 20px 0;
    width: 23%;
}
.recommendations .recommendation:nth-child(n) {
    margin-right: 20px;
    width: 25%;
}
.recommendations .recommendation:nth-child(4n) {
    margin-right: -60px;
}
@media (max-width: 894px) {
.recommendations {
    margin-right: -2%;
}
.recommendations::after, .recommendations::before {
    content: "";
    display: table;
}
.recommendations::after {
    clear: both;
}
.recommendations:nth-child(n) {
    margin-right: 0;
    padding-right: 20px;
}
.recommendations .recommendation {
    float: left;
    margin: 0 2% 20px 0;
    width: 48%;
}
.recommendations .recommendation:nth-child(n) {
    margin-right: 20px;
    width: 50%;
}
.recommendations .recommendation:nth-child(2n) {
    margin-right: -20px;
}
}
@media (max-width: 604px) {
.recommendations {
    margin-right: -2%;
}
.recommendations::after, .recommendations::before {
    content: "";
    display: table;
}
.recommendations::after {
    clear: both;
}
.recommendations:nth-child(n) {
    margin-right: 0;
    padding-right: 0;
}
.recommendations .recommendation {
    float: left;
    margin: 0 2% 20px 0;
    width: 98%;
}
.recommendations .recommendation:nth-child(n) {
    margin-right: 0;
    width: 100%;
}
}
.recommendations .recommendation {
    background-color: rgb(67, 67, 67);
    background-size: cover;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
}
.recommendations .recommendation .item {
    background-size: cover;
    display: block;
    height: 150px;
    position: relative;
}
.recommendations .recommendation .item:hover {
    text-decoration: none;
}
.recommendations .recommendation .item:hover h4 {
    opacity: 0;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.recommendations .recommendation .item:hover h4 {
    opacity: 1;
}
}
.recommendations .recommendation .item:hover .info {
    opacity: 1;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.recommendations .recommendation .item:hover .info {
    opacity: 0;
}
}
.recommendations .recommendation .item::before {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
}
.recommendations .recommendation .item h4 {
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 186px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: none;
    top: 50%;
    transform: translate(0px, -50%);
    transition: all 0.3s ease-in-out 0s;
    z-index: 1;
}
.primo-avenir .recommendations .recommendation .item h4 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.recommendations .recommendation .item .info {
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 150px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.35s ease-in-out 0s;
	z-index: 2;
}
.recommendations .recommendation .item .info div {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 15.4px;
    margin: 0 auto;
    max-width: 150px;
    padding: 10px 0;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
    transition: all 0.35s ease-in-out 0s;
}
.recommendations .recommendation h5 {
    color: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19.6px;
    font-weight: 600;
    margin-bottom: 15px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.primo-avenir .recommendations .recommendation h5 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.recommendations .recommendation.theme-dj {
    background-image: url("/media/primo/heros/hero-dj-sml.jpg");
}
.recommendations .recommendation.theme-personal-training {
    background-image: url("/media/primo/heros/hero-personal-trainer-sml.jpg");
}
.recommendations .recommendation.theme-photography {
    background-image: url("/media/primo/heros/hero-photographer-sml.jpg");
}
.recommendations .recommendation.theme-house-cleaning {
    background-image: url("/media/primo/heros/hero-cleaner-sml.jpg");
}
.recommendations .recommendation.theme-piano-lessons {
    background-image: url("/media/primo/heros/hero-piano-teacher-sml.jpg");
}
.recommendations .recommendation.theme-guitar-lessons {
    background-image: url("/media/primo/heros/hero-guitar-lesson-sml.jpg");
}
.recommendations .recommendation.theme-voice-lessons {
    background-image: url("/media/primo/heros/hero-voice-lesson-sml.jpg");
}
.recommendations .recommendation.theme-interior-designers-v2 {
    background-image: url("/media/primo/heros/hero-interior-designer-v2-sml.jpg");
}
.recommendations .recommendation.theme-wedding-officiants {
    background-image: url("/media/primo/heros/hero-wedding-officiant-sml.jpg");
}
.recommendations .recommendation.theme-web-design {
    background-image: url("/media/primo/heros/hero-web-design-sml.jpg");
}
.recommendations .recommendation.theme-catering {
    background-image: url("/media/primo/heros/hero-catering-sml.jpg");
}
.recommendations .recommendation.theme-property-management {
    background-image: url("/media/primo/heros/hero-property-manager-sml.jpg");
}
.recommendations .recommendation.theme-recording-studio {
    background-image: url("/media/primo/heros/hero-recording-studio-sml.jpg");
}
.recommendations .recommendation.theme-magicians {
    background-image: url("/media/primo/heros/hero-magician-sml.jpg");
}
.recommendations .recommendation.theme-bartending {
    background-image: url("/media/primo/heros/hero-bartender-sml.jpg");
}
.recommendations .recommendation.theme-personal-chef-services {
    background-image: url("/media/primo/heros/hero-chef-sml.jpg");
}
.recommendations .recommendation.theme-tv-mounting {
    background-image: url("/media/primo/heros/hero-tv-mount-sml.jpg");
}
.recommendations .recommendation.theme-power-washing {
    background-image: url("/media/primo/heros/hero-powerwash-sml.jpg");
}
.recommendations .recommendation.theme-real-estate-inspection {
    background-image: url("/media/primo/heros/hero-property-manager-sml.jpg");
}
.recommendations .recommendation.theme-dog-walking, .recommendations .recommendation.theme-pet-photography {
    background-image: url("/media/primo/heros/hero-dog-training-sml.jpg");
}
.recommendations .recommendation.theme-life-coaching {
    background-image: url("/media/primo/heros/hero-life-coach-sml.jpg");
}
.recommendations .recommendation.theme-commercial-photography, .recommendations .recommendation.theme-event-photography, .recommendations .recommendation.theme-headshot-photography {
    background-image: url("/media/primo/heros/hero-photographer-v2-sml.jpg");
}
.recommendations .recommendation.theme-portrait-photography {
    background-image: url("/media/primo/heros/hero-photographer-sml.jpg");
}
.recommendations .recommendation.theme-air-conditioning-and-cooling {
    background-image: url("/media/primo/heros/hero-air-conditioning-and-cooling-sml.jpg");
}
.recommendations .recommendation.theme-appliance {
    background-image: url("/media/primo/heros/hero-appliance-sml.jpg");
}
.recommendations .recommendation.theme-architect {
    background-image: url("/media/primo/heros/hero-architect-sml.jpg");
}
.recommendations .recommendation.theme-art-hanging {
    background-image: url("/media/primo/heros/hero-art-hanging-sml.jpg");
}
.recommendations .recommendation.theme-attorney {
    background-image: url("/media/primo/heros/hero-attorney-sml.jpg");
}
.recommendations .recommendation.theme-balloon-art {
    background-image: url("/media/primo/heros/hero-balloon-art-sml.jpg");
}
.recommendations .recommendation.theme-band-entertainment {
    background-image: url("/media/primo/heros/hero-band-entertainment-sml.jpg");
}
.recommendations .recommendation.theme-bed {
    background-image: url("/media/primo/heros/hero-bed-sml.jpg");
}
.recommendations .recommendation.theme-boxing {
    background-image: url("/media/primo/heros/hero-boxing-sml.jpg");
}
.recommendations .recommendation.theme-carpenter {
    background-image: url("/media/primo/heros/hero-carpenter-sml.jpg");
}
.recommendations .recommendation.theme-carpet-cleaning {
    background-image: url("/media/primo/heros/hero-carpet-cleaning-sml.jpg");
}
.recommendations .recommendation.theme-carpet-installation {
    background-image: url("/media/primo/heros/hero-carpet-installation-sml.jpg");
}
.recommendations .recommendation.theme-catering-v2 {
    background-image: url("/media/primo/heros/hero-catering-v2-sml.jpg");
}
.recommendations .recommendation.theme-cello {
    background-image: url("/media/primo/heros/hero-cello-sml.jpg");
}
.recommendations .recommendation.theme-chef {
    background-image: url("/media/primo/heros/hero-chef-sml.jpg");
}
.recommendations .recommendation.theme-chimney {
    background-image: url("/media/primo/heros/hero-chimney-sml.jpg");
}
.recommendations .recommendation.theme-cleaner {
    background-image: url("/media/primo/heros/hero-cleaner-sml.jpg");
}
.recommendations .recommendation.theme-clown-entertainment {
    background-image: url("/media/primo/heros/hero-clown-entertainment-sml.jpg");
}
.recommendations .recommendation.theme-computer-repair {
    background-image: url("/media/primo/heros/hero-computer-repair-sml.jpg");
}
.recommendations .recommendation.theme-concrete-services {
    background-image: url("/media/primo/heros/hero-concrete-services-sml.jpg");
}
.recommendations .recommendation.theme-contractor {
    background-image: url("/media/primo/heros/hero-contractor-sml.jpg");
}
.recommendations .recommendation.theme-counters {
    background-image: url("/media/primo/heros/hero-counters-sml.jpg");
}
.recommendations .recommendation.theme-dance-lessons {
    background-image: url("/media/primo/heros/hero-dance-lessons-sml.jpg");
}
.recommendations .recommendation.theme-deck-installation {
    background-image: url("/media/primo/heros/hero-deck-installation-sml.jpg");
}
.recommendations .recommendation.theme-delivery {
    background-image: url("/media/primo/heros/hero-delivery-sml.jpg");
}
.recommendations .recommendation.theme-designer {
    background-image: url("/media/primo/heros/hero-designer-sml.jpg");
}
.recommendations .recommendation.theme-doctor {
    background-image: url("/media/primo/heros/hero-doctor-sml.jpg");
}
.recommendations .recommendation.theme-dog {
    background-image: url("/media/primo/heros/hero-dog-sml.jpg");
}
.recommendations .recommendation.theme-dog-training {
    background-image: url("/media/primo/heros/hero-dog-training-sml.jpg");
}
.recommendations .recommendation.theme-door-installation {
    background-image: url("/media/primo/heros/hero-door-installation-sml.jpg");
}
.recommendations .recommendation.theme-drawing {
    background-image: url("/media/primo/heros/hero-drawing-sml.jpg");
}
.recommendations .recommendation.theme-drive {
    background-image: url("/media/primo/heros/hero-drive-sml.jpg");
}
.recommendations .recommendation.theme-drummer {
    background-image: url("/media/primo/heros/hero-drummer-sml.jpg");
}
.recommendations .recommendation.theme-drywall {
    background-image: url("/media/primo/heros/hero-drywall-sml.jpg");
}
.recommendations .recommendation.theme-ducts-and-vents {
    background-image: url("/media/primo/heros/hero-ducts-and-vents-sml.jpg");
}
.recommendations .recommendation.theme-electrical {
    background-image: url("/media/primo/heros/hero-electrical-sml.jpg");
}
.recommendations .recommendation.theme-epoxy-concrete-finish {
    background-image: url("/media/primo/heros/hero-epoxy-concrete-finish-sml.jpg");
}
.recommendations .recommendation.theme-event-decorator {
    background-image: url("/media/primo/heros/hero-event-decorator-sml.jpg");
}
.recommendations .recommendation.theme-event-lighting {
    background-image: url("/media/primo/heros/hero-event-lighting-sml.jpg");
}
.recommendations .recommendation.theme-face-painting {
    background-image: url("/media/primo/heros/hero-face-painting-sml.jpg");
}
.recommendations .recommendation.theme-fashion {
    background-image: url("/media/primo/heros/hero-fashion-sml.jpg");
}
.recommendations .recommendation.theme-fence {
    background-image: url("/media/primo/heros/hero-fence-sml.jpg");
}
.recommendations .recommendation.theme-fishing {
    background-image: url("/media/primo/heros/hero-fishing-sml.jpg");
}
.recommendations .recommendation.theme-flight {
    background-image: url("/media/primo/heros/hero-flight-sml.jpg");
}
.recommendations .recommendation.theme-floor-tiling {
    background-image: url("/media/primo/heros/hero-floor-tiling-sml.jpg");
}
.recommendations .recommendation.theme-florist {
    background-image: url("/media/primo/heros/hero-florist-sml.jpg");
}
.recommendations .recommendation.theme-flute-lessons {
    background-image: url("/media/primo/heros/hero-flute-lessons-sml.jpg");
}
.recommendations .recommendation.theme-fortune-teller {
    background-image: url("/media/primo/heros/hero-fortune-teller-sml.jpg");
}
.recommendations .recommendation.theme-furniture-assembly {
    background-image: url("/media/primo/heros/hero-furniture-assembly-sml.jpg");
}
.recommendations .recommendation.theme-furniture-refinishing {
    background-image: url("/media/primo/heros/hero-furniture-refinishing-sml.jpg");
}
.recommendations .recommendation.theme-garage {
    background-image: url("/media/primo/heros/hero-garage-sml.jpg");
}
.recommendations .recommendation.theme-gardening {
    background-image: url("/media/primo/heros/hero-gardening-sml.jpg");
}
.recommendations .recommendation.theme-general-professional {
    background-image: url("/media/primo/heros/hero-general-professional-sml.jpg");
}
.recommendations .recommendation.theme-golf {
    background-image: url("/media/primo/heros/hero-golf-sml.jpg");
}
.recommendations .recommendation.theme-graphic-design {
    background-image: url("/media/primo/heros/hero-graphic-design-sml.jpg");
}
.recommendations .recommendation.theme-guard {
    background-image: url("/media/primo/heros/hero-guard-sml.jpg");
}
.recommendations .recommendation.theme-gutter-cleaning {
    background-image: url("/media/primo/heros/hero-gutter-cleaning-sml.jpg");
}
.recommendations .recommendation.theme-handyman {
    background-image: url("/media/primo/heros/hero-handyman-sml.jpg");
}
.recommendations .recommendation.theme-hardwood-floor {
    background-image: url("/media/primo/heros/hero-hardwood-floor-sml.jpg");
}
.recommendations .recommendation.theme-home-office {
    background-image: url("/media/primo/heros/hero-home-office-sml.jpg");
}
.recommendations .recommendation.theme-home-theater {
    background-image: url("/media/primo/heros/hero-home-theater-sml.jpg");
}
.recommendations .recommendation.theme-horses {
    background-image: url("/media/primo/heros/hero-horses-sml.jpg");
}
.recommendations .recommendation.theme-house-sitting {
    background-image: url("/media/primo/heros/hero-house-sitting-sml.jpg");
}
.recommendations .recommendation.theme-indoor-window {
    background-image: url("/media/primo/heros/hero-indoor-window-sml.jpg");
}
.recommendations .recommendation.theme-inspector {
    background-image: url("/media/primo/heros/hero-inspector-sml.jpg");
}
.recommendations .recommendation.theme-jewelry {
    background-image: url("/media/primo/heros/hero-jewelry-sml.jpg");
}
.recommendations .recommendation.theme-junk-removal {
    background-image: url("/media/primo/heros/hero-junk-removal-sml.jpg");
}
.recommendations .recommendation.theme-karaoke {
    background-image: url("/media/primo/heros/hero-karaoke-sml.jpg");
}
.recommendations .recommendation.theme-keys {
    background-image: url("/media/primo/heros/hero-keys-sml.jpg");
}
.recommendations .recommendation.theme-landscaping {
    background-image: url("/media/primo/heros/hero-landscaping-sml.jpg");
}
.recommendations .recommendation.theme-land-surveying {
    background-image: url("/media/primo/heros/hero-land-surveying-sml.jpg");
}
.recommendations .recommendation.theme-language-lessons {
    background-image: url("/media/primo/heros/hero-language-lessons-sml.jpg");
}
.recommendations .recommendation.theme-laundry {
    background-image: url("/media/primo/heros/hero-laundry-sml.jpg");
}
.recommendations .recommendation.theme-lawn-care {
    background-image: url("/media/primo/heros/hero-lawn-care-sml.jpg");
}
.recommendations .recommendation.theme-lawn-cleanup {
    background-image: url("/media/primo/heros/hero-lawn-cleanup-sml.jpg");
}
.recommendations .recommendation.theme-life-coach {
    background-image: url("/media/primo/heros/hero-life-coach-sml.jpg");
}
.recommendations .recommendation.theme-lighting {
    background-image: url("/media/primo/heros/hero-lighting-sml.jpg");
}
.recommendations .recommendation.theme-makeup-artist {
    background-image: url("/media/primo/heros/hero-makeup-artist-sml.jpg");
}
.recommendations .recommendation.theme-masonry {
    background-image: url("/media/primo/heros/hero-masonry-sml.jpg");
}
.recommendations .recommendation.theme-motivational-speaker {
    background-image: url("/media/primo/heros/hero-motivational-speaker-sml.jpg");
}
.recommendations .recommendation.theme-movers {
    background-image: url("/media/primo/heros/hero-movers-sml.jpg");
}
.recommendations .recommendation.theme-muralist {
    background-image: url("/media/primo/heros/hero-muralist-sml.jpg");
}
.recommendations .recommendation.theme-nutritionist {
    background-image: url("/media/primo/heros/hero-nutritionist-sml.jpg");
}
.recommendations .recommendation.theme-painting {
    background-image: url("/media/primo/heros/hero-painting-sml.jpg");
}
.recommendations .recommendation.theme-pastry-chef {
    background-image: url("/media/primo/heros/hero-pastry-chef-sml.jpg");
}
.recommendations .recommendation.theme-phone {
    background-image: url("/media/primo/heros/hero-phone-sml.jpg");
}
.recommendations .recommendation.theme-photo-booth {
    background-image: url("/media/primo/heros/hero-photo-booth-sml.jpg");
}
.recommendations .recommendation.theme-photographer {
    background-image: url("/media/primo/heros/hero-photographer-sml.jpg");
}
.recommendations .recommendation.theme-photographer-v2 {
    background-image: url("/media/primo/heros/hero-photographer-v2-sml.jpg");
}
.recommendations .recommendation.theme-plaster {
    background-image: url("/media/primo/heros/hero-plaster-sml.jpg");
}
.recommendations .recommendation.theme-plumber {
    background-image: url("/media/primo/heros/hero-plumber-sml.jpg");
}
.recommendations .recommendation.theme-private-investigation {
    background-image: url("/media/primo/heros/hero-private-investigation-sml.jpg");
}
.recommendations .recommendation.theme-property-manager {
    background-image: url("/media/primo/heros/hero-property-manager-sml.jpg");
}
.recommendations .recommendation.theme-roof-installation {
    background-image: url("/media/primo/heros/hero-roof-installation-sml.jpg");
}
.recommendations .recommendation.theme-sailing {
    background-image: url("/media/primo/heros/hero-sailing-sml.jpg");
}
.recommendations .recommendation.theme-salon {
    background-image: url("/media/primo/heros/hero-salon-sml.jpg");
}
.recommendations .recommendation.theme-saxophone {
    background-image: url("/media/primo/heros/hero-saxophone-sml.jpg");
}
.recommendations .recommendation.theme-sewing {
    background-image: url("/media/primo/heros/hero-sewing-sml.jpg");
}
.recommendations .recommendation.theme-singing-lesson {
    background-image: url("/media/primo/heros/hero-singing-lesson-sml.jpg");
}
.recommendations .recommendation.theme-snowplow {
    background-image: url("/media/primo/heros/hero-snowplow-sml.jpg");
}
.recommendations .recommendation.theme-sodding {
    background-image: url("/media/primo/heros/hero-sodding-sml.jpg");
}
.recommendations .recommendation.theme-solar {
    background-image: url("/media/primo/heros/hero-solar-sml.jpg");
}
.recommendations .recommendation.theme-sprinkler {
    background-image: url("/media/primo/heros/hero-sprinkler-sml.jpg");
}
.recommendations .recommendation.theme-stairs {
    background-image: url("/media/primo/heros/hero-stairs-sml.jpg");
}
.recommendations .recommendation.theme-surf {
    background-image: url("/media/primo/heros/hero-surf-sml.jpg");
}
.recommendations .recommendation.theme-swimming-pool-cleaning {
    background-image: url("/media/primo/heros/hero-swimming-pool-cleaning-sml.jpg");
}
.recommendations .recommendation.theme-tattoo {
    background-image: url("/media/primo/heros/hero-tattoo-sml.jpg");
}
.recommendations .recommendation.theme-tennis-lessons {
    background-image: url("/media/primo/heros/hero-tennis-lessons-sml.jpg");
}
.recommendations .recommendation.theme-tree-stump {
    background-image: url("/media/primo/heros/hero-tree-stump-sml.jpg");
}
.recommendations .recommendation.theme-tub {
    background-image: url("/media/primo/heros/hero-tub-sml.jpg");
}
.recommendations .recommendation.theme-tutoring {
    background-image: url("/media/primo/heros/hero-tutoring-sml.jpg");
}
.recommendations .recommendation.theme-tv-mount {
    background-image: url("/media/primo/heros/hero-tv-mount-sml.jpg");
}
.recommendations .recommendation.theme-typing {
    background-image: url("/media/primo/heros/hero-typing-sml.jpg");
}
.recommendations .recommendation.theme-upholstery {
    background-image: url("/media/primo/heros/hero-upholstery-sml.jpg");
}
.recommendations .recommendation.theme-upholstery-and-furniture-cleaning {
    background-image: url("/media/primo/heros/hero-upholstery-and-furniture-cleaning-sml.jpg");
}
.recommendations .recommendation.theme-videography {
    background-image: url("/media/primo/heros/hero-videography-sml.jpg");
}
.recommendations .recommendation.theme-violin-lessons {
    background-image: url("/media/primo/heros/hero-violin-lessons-sml.jpg");
}
.recommendations .recommendation.theme-voice-lesson {
    background-image: url("/media/primo/heros/hero-voice-lesson-sml.jpg");
}
.recommendations .recommendation.theme-wallpaper {
    background-image: url("/media/primo/heros/hero-wallpaper-sml.jpg");
}
.recommendations .recommendation.theme-wedding-photographer {
    background-image: url("/media/primo/heros/hero-wedding-photographer-sml.jpg");
}
.recommendations .recommendation.theme-welding {
    background-image: url("/media/primo/heros/hero-welding-sml.jpg");
}
.recommendations .recommendation.theme-window-cleaning {
    background-image: url("/media/primo/heros/hero-window-cleaning-sml.jpg");
}
.recommendations .recommendation.theme-window-installation {
    background-image: url("/media/primo/heros/hero-window-installation-sml.jpg");
}
.recommendations .recommendation.theme-woodwork {
    background-image: url("/media/primo/heros/hero-woodwork-sml.jpg");
}
.recommendations .recommendation.theme-yoga {
    background-image: url("/media/primo/heros/hero-yoga-sml.jpg");
}
.recommendations .recommendation.theme-business {
    background-image: url("/media/primo/heros/hero-cat-business-sml.jpg");
}
.recommendations .recommendation.theme-business-notary {
    background-image: url("/media/primo/heros/hero-cat-business-notary-sml.jpg");
}
.recommendations .recommendation.theme-business-administration {
    background-image: url("/media/primo/heros/hero-cat-business-files-sml.jpg");
}
.recommendations .recommendation.theme-auto {
    background-image: url("/media/primo/heros/hero-cat-auto-sml.jpg");
}
.recommendations .recommendation.theme-auto-detailing {
    background-image: url("/media/primo/heros/hero-cat-auto-detailing-sml.jpg");
}
.recommendations .recommendation.theme-auto-transport {
    background-image: url("/media/primo/heros/hero-cat-auto-transport-sml.jpg");
}
.recommendations .recommendation.theme-events {
    background-image: url("/media/primo/heros/hero-cat-events-sml.jpg");
}
.recommendations .recommendation.theme-family {
    background-image: url("/media/primo/heros/hero-cat-family-sml.jpg");
}
.recommendations .recommendation.theme-care {
    background-image: url("/media/primo/heros/hero-cat-care-sml.jpg");
}
.recommendations .recommendation.theme-seniors {
    background-image: url("/media/primo/heros/hero-cat-seniors-sml.jpg");
}
.recommendations .recommendation.theme-home-repair {
    background-image: url("/media/primo/heros/hero-cat-home-sml.jpg");
}
.recommendations .recommendation.theme-lessons {
    background-image: url("/media/primo/heros/hero-cat-lessons-sml.jpg");
}
.recommendations .recommendation.theme-tech {
    background-image: url("/media/primo/heros/hero-cat-tech-sml.jpg");
}
.recommendations .recommendation.theme-writing-translation {
    background-image: url("/media/primo/heros/hero-cat-writing-translation-sml.jpg");
}
.recommendations .recommendation.theme-health {
    background-image: url("/media/primo/heros/hero-cat-health-sml.jpg");
}
.recommendations .recommendation.theme-health-happy {
    background-image: url("/media/primo/heros/hero-cat-health-happy-sml.jpg");
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.card-container {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 12px;
    width: 100%;
}
.card-container .card:nth-child(n) {
    display: inline-block;
    height: 125px;
    margin-left: 12px;
}
.card-container .card:nth-child(n):first-child {
    margin-left: 0;
}
.card-container .card:nth-child(n) a {
    display: block;
    height: 100%;
}
.recommendations .card-container .card:nth-child(n) {
    width: 160px;
}
.recommendations .card-container .has-10-cards {
    min-height: 1px;
    width: 1720px;
}
.recommendations .card-container .has-9-cards {
    min-height: 1px;
    width: 1548px;
}
.recommendations .card-container .has-8-cards {
    min-height: 1px;
    width: 1376px;
}
.recommendations .card-container .has-7-cards {
    min-height: 1px;
    width: 1204px;
}
.recommendations .card-container .has-6-cards {
    min-height: 1px;
    width: 1032px;
}
.recommendations .card-container .has-5-cards {
    min-height: 1px;
    width: 860px;
}
.recommendations .card-container .has-4-cards {
    min-height: 1px;
    width: 688px;
}
.recommendations .card-container .has-3-cards {
    min-height: 1px;
    width: 516px;
}
.recommendations .card-container .has-2-cards {
    min-height: 1px;
    width: 344px;
}
.recommendations .card-container .has-1-cards {
    min-height: 1px;
    width: 172px;
}
.recommendations .recommendation .item .info {
    height: 100%;
}
}
