@charset "utf-8";
/* CSS Document */

.dynamic-row::after, .projects::after, .row::after {
    clear: both;
}
.row {
    display: block;
    margin: 0 -5px;
    width: 970px;
}
.row::after, .row::before {
    content: "";
    display: table;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.dynamic-row::after, .dynamic-row::before {
    content: "";
    display: table;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.mobile-app-banner {
    background: rgb(248, 248, 248) none repeat scroll 0 0;
    border: 1px solid rgb(235, 235, 235);
    overflow: hidden;
}
.mobile-app-banner .wrapper {
    padding: 35px 12px;
    position: relative;
}
.mobile-app-banner .wrapper .copy-column {
    display: inline;
    float: left;
    margin: 0;
    min-height: 1px;
    width: 57.1823%;
}
.ie7 .mobile-app-banner .wrapper .copy-column {
    width: 57.0823%;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper .copy-column {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
}
.mobile-app-banner .wrapper .iphone {
    display: none;
}
}
.mobile-app-banner .wrapper .iphone {
    background: rgba(0, 0, 0, 0) url("/media/primo/common/ios-app/iphone-in-hand.png") no-repeat scroll left top / cover ;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 100%;
    position: absolute;
    text-shadow: none;
    top: 0;
    width: 534px;
}
.page-title h1, .page-title p, .primo-avenir .page-title h1, body {
}
.mobile-app-banner .wrapper h2 {
    text-align: left;
}
.mobile-app-banner .wrapper p {
    color: rgb(102, 102, 102);
    font-size: 16.1px;
    font-weight: 300;
    line-height: 25.2px;
    margin: 25px 0;
}
.mobile-app-banner .wrapper .download-button {
    padding-top: 10px;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper h2, .mobile-app-banner .wrapper p {
    text-align: center;
}
.mobile-app-banner .wrapper .download-button {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
}
}
.mobile-app-banner .wrapper form {
    float: left;
    margin-right: 6%;
}
@media (max-width: 715px) {
.mobile-app-banner .wrapper form {
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    width: 100%;
}
}
.mobile-app-banner .wrapper form .input-append input {
    max-width: 165px;
}
@media only screen and (max-width: 960px) {
.mobile-app-banner .wrapper form .input-append input {
    max-width: 125px;
}
}
@keyframes slide-bottom-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, -20px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-bottom-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, -20px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-up-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, 40px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes slide-up-appear-animation {
0% {
    opacity: 0;
    transform: translate(0px, 40px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
body {
    background: rgb(249, 249, 249) none repeat scroll 0 0;
    overflow-x: hidden;
}
.page-title {
    line-height: 31px;
    margin: 30px 0;
    position: relative;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.mobile-app-banner .wrapper form {
    display: none;
}
.page-title {
    margin: 20.1px 0;
}
}
.page-title p {
    color: rgb(142, 142, 142);
    font-size: 16.8px;
    line-height: 25.2px;
    margin-top: 5px;
}
.page-title h1 {
    color: rgb(67, 67, 67);
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21.99px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 29.99px;
    margin-right: 14px;
    position: relative;
}
.primo-avenir .page-title h1 {
    font-family: "Avenir Next Demi Bold","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.page-title .bttn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: rgb(64, 146, 241);
    float: right;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 10px;
    width: auto;
	
}
.ie7 .page-title .bttn {
    padding: 7px 10px;
}
.page-title #start-request {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.page-title #start-request .input-append, .page-title #start-request [aura-hercule-typeahead] {
    float: left;
    width: auto;
}
.page-title #start-request .input-append input {
    width: 200px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.page-title #start-request {
    margin: 6px 0 12px;
    position: relative;
}
.page-title #start-request .input-append, .page-title #start-request [aura-hercule-typeahead] {
    float: none;
}
.page-title #start-request .input-append input {
    border-radius: 4px;
    width: 100%;
}
.page-title #start-request .input-append button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
}
.page-title #start-request .input-append .input-dropdown {
    font-size: 11.9px;
    line-height: 14px;
}
.projects {
    animation: 0.5s ease 0.25s normal both 1 running slide-up-appear-animation;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-right: -2%;
    padding-right: 25px;
    width: 100%;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects {
    margin-bottom: 30px;
}
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 40px;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 31.3333%;
}
.projects .project:nth-child(n) {
    margin-right: 20px;
    width: 33.3333%;
}
.projects .project:nth-child(3n) {
    margin-right: -40px;
}
@media (max-width: 954px) {
.projects {
    margin-right: -2%;
}
.projects::after, .projects::before {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 20px;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 48%;
}
.projects .project:nth-child(n) {
    margin-right: 20px;
    width: 50%;
}
.projects .project:nth-child(2n) {
    margin-right: -20px;
}
}
@media (max-width: 644px) {
.projects {
    margin-right: -2%;
}
.projects::after, .projects::before {
    content: "";
    display: table;
}
.projects::after {
    clear: both;
}
.projects:nth-child(n) {
    margin-right: 0;
    padding-right: 0;
}
.projects .project {
    float: left;
    margin: 0 2% 20px 0;
    width: 98%;
}
.projects .project:nth-child(n) {
    margin-right: 0;
    width: 100%;
}
}
.projects::after, .projects::before {
    content: "";
    display: table;
}
.modal-is-visible .projects {
}
.projects .project {
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
    box-sizing: border-box;
    height: 466px;
    padding: 60px 20px 20px;
    position: relative;
    text-align: center;
    transition: all 0.25s ease 0s;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects .project {
    height: 350px;
}
}
.ie7 .projects .project {
    padding-left: 0;
    padding-right: 0;
}
.projects .project .title {
    color: rgb(67, 67, 67);
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto 7px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.projects .project .title a {
    color: rgb(67, 67, 67);
}
.projects .project .title::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/static/press/icon-tack-stamp-gray.png") no-repeat scroll center center / cover ;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    font: 0px/0 a;
    height: 30px;
    margin: 0 auto 7px;
    opacity: 0.3;
    text-shadow: none;
    width: 30px;
}
.projects .project .created-on {
    color: rgb(142, 142, 142);
    font-size: 13.3px;
    margin: 0 0 11.9px;
    position: relative;
}
.projects .project .change-status {
    color: rgb(174, 174, 174);
    display: block;
    font-size: 13.3px;
    line-height: 13.3px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.25s ease 0s;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects .project .change-status {
    opacity: 1;
}
}
.projects .project .change-status:hover {
    color: rgb(102, 102, 102);
}
.projects .project .introductions {
    border-top: 1px solid rgb(210, 210, 210);
    color: rgb(102, 102, 102);
    display: inline-block;
    font-size: 11.9px;
    padding-top: 11.9px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.projects .project .footer {
    bottom: 0;
    left: 0;
    margin: 0 20px 20px;
    position: absolute;
    right: 0;
}
.projects .project .footer .pros {
    float: left;
    margin: 6%;
    width: 87%;
}
.projects .project .footer .pros .pro {
    float: left;
    margin: 0 15px 0 0;
}
.projects .project .footer .pros .pro.new .tooltip-name {
/*    background-clip: padding-box;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 5px rgb(64, 146, 241);*/
}
.projects .project .footer .pros .pro.cancelled {
    opacity: 0.25;
}
.projects .project .footer .pros .pro.cancelled:hover {
    opacity: 1;
}
/*.projects .project .footer .pros .pro a {
    background-clip: padding-box;
    background-color: rgb(249, 249, 249);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 38px;
    width: 38px;
}*/
.projects .project .footer .pros .pro a .complete, .projects .project .footer .pros .pro a .unread-message-count {
/*    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 10.56px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -7px;
    width: 16px;*/
	width: 26px;
	height:26px;
	display:flex;
}
/*.projects .project .footer .pros .pro a .unread-message-count {
    background: rgb(255, 73, 73) none repeat scroll 0 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    font-weight: 700;
    line-height: 16px;
}*/
.unread-message-count > img {
    border-radius: 50%;
}
.projects .project .footer .pros .pro a .complete {
    background: rgb(17, 179, 11) none repeat scroll 0 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    content: "";
    font-family: "Primo Icons";
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    min-width: 1em;
    text-decoration: inherit;
}
.ie7 .projects .project .footer .pros .pro a .complete, .ie8 .projects .project .footer .pros .pro a .complete {
    display: none;
}
.projects .project .footer .pros .pro a .complete::before {
    content: "";
    display: inline-block;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text {
    animation: 0.2s ease 0s normal none 1 running tooltip-placement-top;
    background: rgb(67, 67, 67) none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    bottom: 100%;
    box-shadow: none;
    color: rgb(255, 255, 255);
    left: 50%;
    margin: 0 0 9px -17.75px;
    top: auto;
}
.projects .project .footer .pros .pro .tooltip-name .tooltip-text::before {
    background: rgb(67, 67, 67) none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0 1px 1px 0;
    bottom: auto;
    left: 10.75px;
    margin-top: -5px;
    top: 100%;
}
.projects .project .footer .exposition {
    color: rgb(142, 142, 142);
}
.projects .project .footer .exposition h1 {
    line-height: 28px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h2 {
    line-height: 21px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h3 {
    line-height: 17.5px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition h4, .projects .project .footer .exposition h5 {
    line-height: 14px;
    margin: 0 0 14px;
}
.projects .project .footer .exposition p {
    margin: 0 0 14px;
}
.projects .project .footer .exposition ul {
    list-style-type: disc;
    margin: 0 0 14px;
    padding-left: 0.4em;
}
.projects .project .footer .exposition ul li {
    line-height: 21px;
    margin-left: 20px;
}
.projects .project .footer .exposition ol {
    list-style-type: decimal;
    margin: 0 0 14px;
    padding-left: 0.8em;
}
.projects .project .footer .exposition ol li {
    line-height: 21px;
    margin-left: 20px;
}
.projects .project .footer .exposition pre, .projects .project .footer .exposition table {
    margin: 0 0 14px;
}
.projects .project .footer .exposition table td, .projects .project .footer .exposition table th {
    padding: 0 20px 5px 0;
}
.projects .project .footer .exposition h4 {
    color: rgb(67, 67, 67);
    font-size: 16.8px;
    font-weight: 500;
    margin: 0 0 9.8px;
}
.projects .project .footer .exposition p {
    font-size: 13.3px;
    line-height: 16.8px;
}
.projects .project .footer .exposition .leave-review {
    display: block;
}
.projects .project .footer .exposition *:last-child {
    margin-bottom: 0;
}
.projects .project:hover {
    border: 1px solid rgb(174, 174, 174);
}
.projects .project:hover .change-status {
    opacity: 1;
}
.projects .project:hover .introductions {
    background-clip: padding-box;
    background-color: rgb(64, 146, 241);
    border-radius: 28px;
    border-top: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 11.9px;
}
.projects .project.upsell {
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects .project.upsell {
    height: auto;
    padding: 20px;
}
.projects .project.upsell .footer {
    margin: 0;
    position: static;
}
}
.projects .project.upsell .created-on, .projects .project.upsell .exposition, .projects .project.upsell .title {
    color: inherit;
}
.projects .project.upsell .title {
    text-shadow: none;
}
.projects .project.upsell .title::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/static/press/icon-tack-stamp-white.png") no-repeat scroll center center / cover ;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 30px;
    opacity: 0.7;
    text-shadow: none;
    width: 30px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects .project.upsell .footer .exposition p {
    display: none;
}
.projects .project.upsell .footer .exposition .bttn {
    margin-top: 20px;
}
}
.projects .project.upsell .footer .exposition .bttn {
    background: rgb(45, 135, 240) -moz-linear-gradient(center top , rgb(64, 146, 241), rgb(26, 124, 238)) repeat scroll 0 0;
    border: 1px solid rgb(16, 112, 222);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 10px;
    width: 100%;
}
.ie7 .projects .project.upsell .footer .exposition .bttn {
    padding: 7px 10px;
}
.projects .project.upsell .footer .exposition .bttn.is-hovered, .projects .project.upsell .footer .exposition .bttn:hover {
    background: rgb(40, 130, 234) -moz-linear-gradient(center top , rgb(64, 146, 241), rgb(17, 114, 227)) repeat scroll 0 0;
}
.projects .project.upsell .footer .exposition .bttn.is-focused, .projects .project.upsell .footer .exposition .bttn:focus {
    box-shadow: 0 0 1px 2px rgb(183, 214, 250);
}
.projects .project.upsell .footer .exposition .bttn.is-active, .projects .project.upsell .footer .exposition .bttn:active {
    background: rgb(17, 114, 227) -moz-linear-gradient(center top , rgb(17, 114, 227), rgb(17, 114, 227)) repeat scroll 0 0;
    border: 1px solid rgb(14, 95, 189);
    box-shadow: 0 1px 2px rgb(14, 95, 189) inset;
}
.projects .project.upsell .footer .exposition .bttn .caret {
    border-top-color: rgb(255, 255, 255);
}
.projects .project.upsell.wedding {
    background: rgb(174, 174, 174) url("/media/primo/consumer-dashboard/upsells/wedding.jpg") repeat scroll 0 0 / cover ;
}
.projects .project.upsell.home-improvement {
    background: rgb(174, 174, 174) url("/media/primo/consumer-dashboard/upsells/home-improvement.jpg") repeat scroll 0 0 / cover ;
}
.projects .project.upsell.lessons {
    background: rgb(174, 174, 174) url("/media/primo/consumer-dashboard/upsells/lessons.jpg") repeat scroll 0 0 / cover ;
}
.projects .project.upsell.events {
    background: rgb(174, 174, 174) url("/media/primo/consumer-dashboard/upsells/events.jpg") repeat scroll 0 0 / cover ;
}
.projects .project.upsell.wellness {
    background: rgb(174, 174, 174) url("/media/primo/consumer-dashboard/upsells/wellness.jpg") repeat scroll 0 0 / cover ;
}
.projects .new-project {
    border: 2px dashed rgb(210, 210, 210);
    padding: 100px 40px 20px;
}
.projects .new-project .title::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/plus-icon.svg") no-repeat scroll center center / cover ;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    font: 0px/0 a;
    height: 30px;
    margin: 0 auto 14px;
    opacity: 0.5;
    text-shadow: none;
    transition: all 0.25s ease 0s;
    width: 30px;
}
.projects .new-project:hover {
    border: 2px dashed rgb(174, 174, 174);
}
.projects .new-project:hover .title::before {
    opacity: 1;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.projects .new-project .title::before {
    float: left;
    height: 30px;
    margin: 0;
    width: 30px;
}
.projects .new-project {
    height: 75px;
    padding: 20px;
}
}
.box-modal.box-youre-done {
    width: 600px;
}
.box-modal.box-youre-done .box-header {
    background-clip: padding-box;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 60px;
    text-align: center;
}
.box-modal.box-youre-done .box-header h1 {
    animation: 0.5s ease 0s normal both 1 running slide-bottom-appear-animation;
    color: rgb(255, 255, 255);
    font-size: 33.6px;
    letter-spacing: 0;
    text-shadow: none;
}
.box-modal.box-youre-done .box-header h1::before {
    content: "";
    display: block;
    margin: 0 auto 22px;
}
.box-modal.box-youre-done .box-content {
    margin: 0 auto;
    max-width: 360px;
    padding-bottom: 45px;
    padding-top: 60px;
    text-align: center;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-header h1 {
    font-size: 25.2px;
}
.box-modal.box-youre-done .box-content {
    padding-bottom: 30px;
}
}
.box-modal.box-youre-done .box-header, .box-modal.box-youre-done .box-header-confirmation {
    background: rgb(90, 185, 122) -moz-linear-gradient(center top , rgb(99, 203, 118), rgb(80, 166, 126)) repeat scroll 0 0;
}
.box-modal.box-youre-done .box-header-confirmation h1::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -123px 0;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 59px;
    text-shadow: none;
    width: 59px;
}
.box-modal.box-youre-done .box-header-confirmation-limited-pros {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding-bottom: 10px;
}
.box-modal.box-youre-done .box-header-confirmation-limited-pros h1 {
    color: rgb(0, 0, 0);
}
.box-modal.box-youre-done .box-header-confirmation-not-sent {
    background: rgb(126, 137, 150) -moz-linear-gradient(center top , rgb(156, 166, 178), rgb(96, 108, 123)) repeat scroll 0 0;
}
.box-modal.box-youre-done .box-header-confirmation-not-sent h1::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/icon_request_not_sent.png") no-repeat scroll center center;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 62px;
    text-shadow: none;
    width: 62px;
}
.box-modal.box-youre-done .box-header-confirmation-update {
    background: rgb(90, 185, 122) -moz-linear-gradient(center top , rgb(99, 203, 118), rgb(80, 166, 126)) repeat scroll 0 0;
}
.box-modal.box-youre-done .box-header-confirmation-update h1::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/icon_updating_request.png") no-repeat scroll center center;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 62px;
    text-shadow: none;
    width: 62px;
}
.box-modal.box-youre-done .box-header-introduction {
    background: rgb(98, 143, 218) -moz-linear-gradient(center top , rgb(125, 185, 255), rgb(70, 100, 180)) repeat scroll 0 0;
}
.box-modal.box-youre-done .box-header-introduction h1::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll 0 0;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 56px;
    text-shadow: none;
    width: 113px;
}
.box-modal.box-youre-done .box-content .sub-header {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 1s normal both 1 running fade-in;
    color: rgb(67, 67, 67);
    font-size: 16.8px;
    line-height: 23.8px;
    margin-bottom: 30px;
}
.box-modal.box-youre-done .box-content.box-content-confirmation .cancel-project, .box-modal.box-youre-done .box-content.box-content-confirmation .cancel-replace, .box-modal.box-youre-done .box-content.box-content-confirmation .navigation {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 1.5s normal both 1 running fade-in;
}
.box-modal.box-youre-done .box-content.box-content-confirmation-not-sent .sub-header, .box-modal.box-youre-done .box-content.box-content-confirmation-update .sub-header {
    text-align: left;
}
.box-modal.box-youre-done .box-content.box-content-confirmation-limited-pros {
    padding-top: 10px;
}
.box-modal.box-youre-done .box-content.box-content-confirmation-limited-pros .sub-header {
    color: rgb(142, 142, 142);
    padding-bottom: 38px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents {
    color: rgb(142, 142, 142);
    display: table;
    font-size: 11.2px;
    font-weight: 700;
    line-height: inherit;
    list-style: outside none none;
    margin: 30px auto 45px;
    padding: 0;
    table-layout: fixed;
    text-transform: uppercase;
    width: 100%;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents * {
    line-height: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents li {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 0s normal both 1 running fade-in;
    display: table-cell;
    margin-bottom: 30px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents li::before {
    content: "";
    display: block;
    margin: 0 auto 10px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote {
    animation-delay: 1.5s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -192px -11px;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .quote {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message {
    animation-delay: 1.75s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -250px -11px;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .message {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews {
    animation-delay: 2s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -308px -11px;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .reviews {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile {
    animation-delay: 2.25s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -366px -11px;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .profile {
    display: inline-block;
    width: 30%;
}
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact {
    animation-delay: 2.5s;
}
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact::before {
    background: rgba(0, 0, 0, 0) url("/media/primo/consumer-dashboard/sprites_consumer_dashboard.png") no-repeat scroll -424px -11px;
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    height: 48px;
    text-shadow: none;
    width: 48px;
}
.box-modal.box-youre-done .box-content.box-content-introduction .cancel-project, .box-modal.box-youre-done .box-content.box-content-introduction .cancel-replace, .box-modal.box-youre-done .box-content.box-content-introduction .navigation {
    animation: 0.5s cubic-bezier(0.1, 0.1, 0.25, 0.9) 3s normal both 1 running fade-in;
}
.box-modal.box-youre-done .box-content .navigation .bttn {
    background: rgb(45, 135, 240) -moz-linear-gradient(center top , rgb(64, 146, 241), rgb(26, 124, 238)) repeat scroll 0 0;
    border: 1px solid rgb(16, 112, 222);
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0 auto;
}
.box-modal.box-youre-done .box-content .navigation .bttn.is-hovered, .box-modal.box-youre-done .box-content .navigation .bttn:hover {
    background: rgb(40, 130, 234) -moz-linear-gradient(center top , rgb(64, 146, 241), rgb(17, 114, 227)) repeat scroll 0 0;
}
.box-modal.box-youre-done .box-content .navigation .bttn.is-focused, .box-modal.box-youre-done .box-content .navigation .bttn:focus {
    box-shadow: 0 0 1px 2px rgb(183, 214, 250);
}
.box-modal.box-youre-done .box-content .navigation .bttn.is-active, .box-modal.box-youre-done .box-content .navigation .bttn:active {
    background: rgb(17, 114, 227) -moz-linear-gradient(center top , rgb(17, 114, 227), rgb(17, 114, 227)) repeat scroll 0 0;
    border: 1px solid rgb(14, 95, 189);
    box-shadow: 0 1px 2px rgb(14, 95, 189) inset;
}
.box-modal.box-youre-done .box-content .navigation .bttn .caret {
    border-top-color: rgb(255, 255, 255);
}
@media screen and (max-width: 34.2857em), handheld and (max-device-width: 34.2857em) {
.box-modal.box-youre-done .box-content.box-content-introduction .introduction-contents .contact {
    display: inline-block;
    width: 30%;
}
.box-modal.box-youre-done .box-content .navigation .bttn {
    display: block;
    width: 100%;
}
.ie7 .box-modal.box-youre-done .box-content .navigation .bttn {
    padding-left: 0;
    padding-right: 0;
}
}
.box-modal.box-youre-done .box-content .navigation a {
    display: inline-block;
    margin-top: 30px;
}
.mobile-app-banner ~ .piede {
    margin-top: 0;
}
.curtain-mobile-container .curtain-mobile-outer {
    max-width: 600px;
}
[ng-cloak] {
    display: none;
}
[faux-link] {
    cursor: pointer;
}